.main-page-banner__left_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 3.5rem;
    border-radius: 40px;
    border: 0;
    background: $main-part-button-background;
    box-shadow: $main-part-button--shadow;
    color: $active-button-text-color;
    font-size: 1.7rem;
    font-weight: 600;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.button {
    border: 0;
    background: $active-button-background-color;
    border-radius: 50px;
    color: $active-button-text-color;
}

.button-submit {
    width: 25%;
    height: 2rem;
    font-size: 1rem;
    margin: .8rem 0 1rem;
}