* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    width: 60%;
    font-family: "Arial";
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    color: #000000;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.grid {
    display: flex;
    justify-content: space-around;
}
.grid-images {
    padding: .3rem;
}

.right-side_bottom {
    display: flex;
    justify-content: space-around;
}

.right-side_bottom_middle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.watch-next-box {
    margin: 0.5rem 2.3rem 0 auto;
}

/* перенести в отдельный файл */
.watch-next {
    color: #CD3E3E; /* $watch-next-link-color */
    font-weight: 600;
    display: flex;
    align-items: center;
}

.watch-next_vector {
    margin-left: .5rem;
}